<ul class="rows">
  @for (session of sessions(); track session.id) {
    <li class="row" [class.row--unavailable]="!network.online() && !downloads.ids().has(session.id)">
      <button type="button" class="row__main ion-activatable" (click)="sessionSelect.emit(session)">
        <span class="row__play" [class.row__play--done]="isDone(session)" aria-hidden="true">
          <ion-icon [name]="isDone(session) ? 'checkmark' : 'play'"></ion-icon>
        </span>
        <span class="row__text">
          <span class="row__title">{{ displayName(session) }}</span>
          <span class="row__meta">{{ meta(session) }}</span>
        </span>
        <ion-ripple-effect></ion-ripple-effect>
      </button>
      <app-favorite-button [node]="session"></app-favorite-button>
      @if (network.online() || downloads.ids().has(session.id)) {
        <app-download-button [node]="session"></app-download-button>
      }
    </li>
  }
</ul>
