<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Downloads</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Downloads</ion-title>
    </ion-toolbar>
  </ion-header>

  <section class="md-placeholder">
    <div class="md-placeholder__orb">
      <ion-icon name="cloud-download-outline" aria-hidden="true"></ion-icon>
    </div>
    <h2>Listen anywhere</h2>
    <p>Offline sessions you save will live here (Phase 4).</p>
  </section>
</ion-content>
